{% extends 'base.html.twig' %}

{% block title %}Our Auteurs{% endblock %}

{% block body %}
<h1>Our Auteurs</h1>
<div class="row justify-content-center">
{% for auteur in auteurs %}
{% set auteurName = "" %}
{% if auteur.pseudo is not null %}
{% set auteurName = auteur.pseudo %}
{% else %}
    {% if auteur.lastname is not null %}
    {% set auteurName = auteur.lastname ~ " " %}
    {% endif %}
    {% if auteur.name is not null %}
    {% set auteurName = auteurName ~ auteur.name %}
    {% endif %}
{% endif %}

    <div class="col-12 col-md-3 d-flex align-items-stretch p-3">
        <div class="card">
            {% set image = "default.jpg" %}
            {% if auteur.imageName is not null %}
            {% set image = auteur.imageName %}
            {% endif %}
            <img src="{{ asset('images/auteur/' ~ image) }}" class="card-img-top" alt="{{ auteurName|trim }}">
            <div class="card-body d-flex justify-content-center-between">
                <div class="align-self-end text-center">
                    <h5 class="card-title">{{ auteurName|trim }}</h5>
                    <a href="{{ path('app_front_auteur_show', {'slug': auteur.slug }) }}" class="btn btn-dark">See</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
No Auteur yet in the BDD.
{% endfor %}
</div>
{% endblock %}
